.card {
    border: 1px solid #000000;
    border-radius: 15px;
    overflow: hidden;
    width: 32%; 
    height: 800px;
    background-color: rgb(200, 200, 200);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .cardImage {
    width: 100%;
    height:70%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .cardContent {
    transform: translateX(2%);
  }
  
  .cardTitle {
    font-size: 4rem;
    margin: 0 0 8px 0;
  }
  
  .cardDescription {
    font-size: 3rem;
    margin: 0 0 8px 0;
  }
  
  .cardPrice {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }